body {
    background: linear-gradient( cyan, transparent), linear-gradient( -45deg, magenta, transparent), linear-gradient( 45deg, yellow, transparent);
    background-blend-mode: multiply;
    font-family: Arial, Helvetica, sans-serif;
}
.field{
        display: block;
        margin: 0px 0px 15px 20px;
        padding: 4px;
        width: 40%;
        height: 5%;
        box-sizing: border-box;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        font-size: 12px;
    }

.formContainer {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
}
.formHeader {
    text-align: center;
}
.formContentContainer {
    margin-top: 15%;
}
.Sign-up {
    background: dodgerblue;
    color: white;
    margin: 10px 20px;
    width: 20%;
    height: 8%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}